<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- MUST GO BEFORE STARTUP SECTION -->
  <configSections>
    <section name="Jot" type="Jot.JwtAuthConfigurationSection, Jot" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<!---->
  <Jot>
    <Token timeOut="1" anonymousAlgorithmInHeader="true"/>
    <Encryption type="HS512" useGhostClaims="false" secret="sjdfhikjsjhdkfjjhsdlkfhsakd"/>
  </Jot>
</configuration>